*{
    box-sizing: border-box ;
}
body{
    padding: 0px;
    margin: 0px;
}
.container{
    width: 100%;

}
.left{
    width: 30%;
    height: 100vh;
    position: fixed;
    background-color: gray;
}
.leftimg{
    margin-top: 50px;
    text-align: center;
    background-color: white;
    margin-bottom: 50px;
}
.leftimg img{
    width: 30%;
}

.left1{
    margin-bottom: 2px;
    margin-top: 2px;
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px;
    border-left: 3px solid blue;
}
.left2{
    border-left: 3px solid red;
    margin-bottom: 2px;
    margin-top: 2px;
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px;
}
.left3{
    border-left: 3px solid yellow;
    margin-bottom: 2px;
    margin-top: 2px;
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px;
}
.left4{
    border-left: 3px solid pink;
    margin-bottom: 2px;
    margin-top: 2px;
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px;
}
.left5{
    border-left: 3px solid brown;
    margin-bottom: 2px;
    margin-top: 2px;
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px;
}


.right{
    width: 70%;
    margin-left: 30%;
    position: absolute;
}
.background{
    width: 100%;
    height: 200px;
    background-image: url("img/background.jpg");
    color: white;
    text-align: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.background h2{
    padding-top: 50px;
    margin-top: 0px;
}
.background a{
    color: burlywood;
    background-color: red;
}
.welcome h2{
  color: blueviolet;
}
.welcome {
    text-align: center;
    margin-top: 40px;
    border-bottom: 2px solid orange;
    width: 80%;
    margin: auto;
}
.about{
    width: 80%;
    margin: auto;
    border-bottom: 2px solid blue;
    padding-bottom: 10px;
}
.about span{
    background-color: orange;
    padding: 3px;
}
.image{
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 10px;
    margin-top: 40px;
}
.image img{
    max-width: 100%;
}
.image h5{
    text-align: center;
}
.team{
    width: 80%;
}
.team h5{
    color: orange;
}
.team div{
    display: flex;
}
.paragraph div{
    width: 20%;
    height: 200px;
    padding-right: 20px;
}
.paragraph p{
    width: 80%;
}
.paragraph div img{
    max-width: 250px;
    margin-left: 35px;
}
.services{
  width: 80%;
  margin: auto;
}
.services span{
    background-color: blue;
    color: white;
    padding-bottom: 10px;  
}
.design{
    margin-top: 50px;
}
.support{
    display: grid;
    grid-template-columns: auto auto auto;
    color: white;
    column-gap: 5px;
}
.support div{
  background-color: blue;
  padding: 15px;
  text-align: center;
}
.skills h3{
    color: blueviolet;
    margin-top: 50px;
}
.content{
    display: flex;
    border-bottom: 2px solid green;
}
.content p{
    width: 60%;
    color: red;
}
.percentage{
    width: 40%;
    color: white;
}

.top{
    width: 100%;
    background-color: beige;
    margin-top: 10px;
}
.graphics{
    width: 90%;
    background-color: blue;
    text-align: center;
}
.html{
    width: 75%;
    background-color: blue;
    text-align: center;
}
.word{
    width: 66%;
    background-color: blue;
    text-align: center;
}
.market{
    width: 88%;
    background-color: blue;
    text-align: center;
}
.port{
   width: 80%;
   margin: auto;  
}
.load a{
    text-align: center;
    text-decoration: none;
    background-color: red;
    padding: 10px;
    color: white;
}
.load {
    width: 80%;
    margin: auto;
    text-align: center;
    
     margin-bottom: 50px;
}
.port span{
    background-color: green;
    padding: 4px;
}
.photo div{
    margin-top: 40px;
}
.photo h5{
    text-align: center;
    color: brown;
}
.photo {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: auto;
}
.photo1{
    margin-left: 10px;
    margin-right: 10px;
}
.picture{
    width: 100%;
    height: 200px;
}
.photo h5{
    text-align: center;
    color: brown;
}
.photo div{
    margin-top: 20px;
}
.fanta{
    display: grid;
    width: 100%;
    grid-template-columns: auto auto auto;
    margin: auto;
    text-align: center;
}
.photo a{
    background-color: green;
    color: white;
    text-align: center;
}
.contact{
    width: 80%;
    margin: auto;
    border-top: 2px solid;
}
.contact span{
    background-color:blue;
    color: white;
    padding: 4px
}
.map{
    padding-top: 50px;
}
iframe{
    width: 100%;
}
.name{
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 5px;
}
.name input{
    width: 249px;
}
.name div{
    margin-top: 30px;
}
.message{
    width: 100%;
    margin-top: 40px;
}
.comment{
    width: 100%;
}
.send{
    margin-top: 30px;
}
.send span{
    background-color:royalblue;
    color: white;
    padding-bottom: 10px;
}
.image3{
    width: 100%;
    background-color: rgb(88, 84, 84);
    height: 100px;
    margin-top: 30px;
    margin: 0%;
}
.image3{
    text-align: center;
    margin-top: 20px;
}
.image3 img{
    width: 30%;
    margin-top: 25px;
}
.copy1{
    width: 100%;
    background-color: black;
    color: white;
    padding-left: 90px;
    padding: 10px;
    text-align: center;
}
@media(max-width:576px){
.background{
    text-align: center;
    height: 240px;
}
.image4 img{
    width: 60%;
    padding-top: 10px;
}
.image{
    display: block;
}
.paragraph{
    display: block;
}
.paragraph p{
    text-align: center;
    width: 100%;
}
.paragraph div img{
    max-width: 210px;
    margin-top: 10px;
    margin-left: 0px;
}
.team{
    width: 100%;
    text-align: center;
}
.team div{
    display: block;
}
.support{
    display: block;
}
.support div{
    margin-bottom: 10px;
}
.content{
    display: block;
}
.percentage{
    width: 100%;
}
.market{
    margin-bottom: 20px;
}
.photo{
    display: block;
}
.fanta{
    display: block;
}
.name{
    display: block;
}
.name input{
    width: 100%;
}
.services span{
    padding: 2px;
}
.copy1{
    padding-left: 50px;
}
.content p{
    width: 100%;
}
.skills{
    text-align: center;
}
}
    
